## Importing libraries

In [1]:
import requests
import pandas as pd
import os

In [2]:
season_id = '2022-23'
per_mode = 'PerGame'

url_players_stats = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
url_players_bios = 'https://stats.nba.com/stats/leaguedashplayerbiostats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&Season='+season_id+'&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='

In [3]:
headers = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7',
}

## API Requesting

In [5]:
response_stats = requests.get(url=url_players_stats, headers=headers).json()
players_stats = response_stats['resultSets'][0]['rowSet']

In [6]:
response_bios = requests.get(url=url_players_bios, headers=headers).json()
players_bios = response_bios['resultSets'][0]['rowSet']

## Treating the data

In [7]:
columns_stats = ["PLAYER_ID",
                "PLAYER_NAME",
                "NICKNAME",
                "TEAM_ID",
                "TEAM_ABBREVIATION",
                "AGE",
                "GP",
                "W",
                "L",
                "W_PCT",
                "MIN",
                "FGM",
                "FGA",
                "FG_PCT",
                "FG3M",
                "FG3A",
                "FG3_PCT",
                "FTM",
                "FTA",
                "FT_PCT",
                "OREB",
                "DREB",
                "REB",
                "AST",
                "TOV",
                "STL",
                "BLK",
                "BLKA",
                "PF",
                "PFD",
                "PTS",
                "PLUS_MINUS",
                "NBA_FANTASY_PTS",
                "DD2",
                "TD3",
                "WNBA_FANTASY_PTS",
                "GP_RANK",
                "W_RANK",
                "L_RANK",
                "W_PCT_RANK",
                "MIN_RANK",
                "FGM_RANK",
                "FGA_RANK",
                "FG_PCT_RANK",
                "FG3M_RANK",
                "FG3A_RANK",
                "FG3_PCT_RANK",
                "FTM_RANK",
                "FTA_RANK",
                "FT_PCT_RANK",
                "OREB_RANK",
                "DREB_RANK",
                "REB_RANK",
                "AST_RANK",
                "TOV_RANK",
                "STL_RANK",
                "BLK_RANK",
                "BLKA_RANK",
                "PF_RANK",
                "PFD_RANK",
                "PTS_RANK",
                "PLUS_MINUS_RANK",
                "NBA_FANTASY_PTS_RANK",
                "DD2_RANK",
                "TD3_RANK",
                "WNBA_FANTASY_PTS_RANK"]

columns_bios = ["PLAYER_ID",
                "PLAYER_NAME",
                "TEAM_ID",
                "TEAM_ABBREVIATION",
                "AGE",
                "PLAYER_HEIGHT",
                "PLAYER_HEIGHT_INCHES",
                "PLAYER_WEIGHT",
                "COLLEGE",
                "COUNTRY",
                "DRAFT_YEAR",
                "DRAFT_ROUND",
                "DRAFT_NUMBER",
                "GP", 
                "PTS", 
                "REB", 
                "AST", 
                "NET_RATING",
                "OREB_PCT", 
                "DREB_PCT", 
                "USG_PCT",
                "TS_PCT", 
                "AST_PCT"
                ]

In [8]:
players_stats_df = pd.DataFrame(players_stats, columns=columns_stats)
players_stats_df

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK
0,1630639,A.J. Lawson,A.J.,1610612742,DAL,22.0,15,5,10,0.333,...,491,358,475,457,429,462,482,253,39,466
1,1631260,AJ Green,AJ,1610612749,MIL,23.0,35,27,8,0.771,...,491,498,454,518,392,309,455,253,39,436
2,1631100,AJ Griffin,AJ,1610612737,ATL,19.0,72,34,38,0.472,...,372,268,394,422,217,169,287,253,39,273
3,203932,Aaron Gordon,Aaron,1610612743,DEN,27.0,68,45,23,0.662,...,65,32,205,58,82,4,77,56,39,89
4,1628988,Aaron Holiday,Aaron,1610612737,ATL,26.0,63,32,31,0.508,...,345,315,377,356,415,212,413,253,39,416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,1628380,Zach Collins,Zach,1610612759,SAS,25.0,63,20,43,0.317,...,63,123,19,113,142,486,130,70,39,131
535,203897,Zach LaVine,Zach,1610612741,CHI,28.0,77,38,39,0.494,...,305,27,167,47,21,216,44,155,39,33
536,1630192,Zeke Nnaji,Zeke,1610612743,DEN,22.0,53,34,19,0.642,...,162,339,181,282,351,391,380,192,39,389
537,1630533,Ziaire Williams,Ziaire,1610612763,MEM,21.0,37,21,16,0.568,...,385,432,298,312,332,420,387,253,39,367
538,1629627,Zion Williamson,Zion,1610612740,NOP,22.0,29,17,12,0.586,...,111,2,129,6,16,17,23,105,39,28

In [9]:
players_bios_df = pd.DataFrame(players_bios, columns=columns_bios)
players_bios_df

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,PLAYER_HEIGHT,PLAYER_HEIGHT_INCHES,PLAYER_WEIGHT,COLLEGE,COUNTRY,...,GP,PTS,REB,AST,NET_RATING,OREB_PCT,DREB_PCT,USG_PCT,TS_PCT,AST_PCT
0,1630639,A.J. Lawson,1610612742,DAL,22.0,6-6,78,179,South Carolina,Canada,...,15,3.7,1.4,0.1,-20.1,0.046,0.152,0.189,0.589,0.032
1,1631260,AJ Green,1610612749,MIL,23.0,6-5,77,190,Northern Iowa,USA,...,35,4.4,1.3,0.6,-4.9,0.016,0.105,0.159,0.607,0.092
2,1631100,AJ Griffin,1610612737,ATL,19.0,6-6,78,220,Duke,USA,...,72,8.9,2.1,1.0,1.5,0.026,0.080,0.174,0.577,0.070
3,203932,Aaron Gordon,1610612743,DEN,27.0,6-8,80,235,Arizona,USA,...,68,16.3,6.6,3.0,12.1,0.086,0.136,0.206,0.617,0.129
4,1628988,Aaron Holiday,1610612737,ATL,26.0,6-0,72,185,UCLA,USA,...,63,3.9,1.2,1.4,0.9,0.028,0.059,0.129,0.528,0.135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,1628380,Zach Collins,1610612759,SAS,25.0,6-11,83,250,Gonzaga,USA,...,63,11.6,6.4,2.9,-7.5,0.076,0.190,0.209,0.599,0.180
535,203897,Zach LaVine,1610612741,CHI,28.0,6-5,77,200,UCLA,USA,...,77,24.8,4.5,4.2,0.3,0.016,0.108,0.278,0.607,0.187
536,1630192,Zeke Nnaji,1610612743,DEN,22.0,6-9,81,240,Arizona,USA,...,53,5.2,2.6,0.3,-5.9,0.087,0.099,0.149,0.620,0.040
537,1630533,Ziaire Williams,1610612763,MEM,21.0,6-9,81,185,Stanford,USA,...,37,5.7,2.1,0.9,-5.2,0.028,0.105,0.178,0.511,0.086
538,1629627,Zion Williamson,1610612740,NOP,22.0,6-6,78,284,Duke,USA,...,29,26.0,7.0,4.6,7.8,0.060,0.148,0.288,0.652,0.231

In [10]:
os.getcwd()

'/home/bruno/repos/NBA_2022-2023/notebooks'

In [11]:
# players_bios_df.to_csv('/home/bruno/repos/NBA_2022-2023/data/players_bios_2022-23.csv', index=False)
# players_stats_df.to_csv('/home/bruno/repos/NBA_2022-2023/data/players_stats_2022-23.csv', index=False)

# Expanding to previous seasons

In [12]:
seasons_years = ['1995-96',
                 '1996-97',
                 '1997-98',
                 '1998-99',
                 '1999-00',
                 '2000-01',
                 '2001-02',
                 '2002-03',
                 '2003-04',
                 '2004-05',
                 '2005-06',
                 '2006-07',
                 '2007-08',
                 '2008-09',
                 '2009-10',
                 '2010-11',
                 '2011-12',
                 '2012-13',
                 '2013-14',
                 '2014-15',
                 '2015-16',
                 '2016-17',
                 '2017-18',
                 '2018-19',
                 '2019-20',
                 '2020-21',
                 '2021-22',
                 '2022-23',   
]

In [13]:
df_stats = []
df_bios = []

for season_id in seasons_years:
    url_players_stats = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
    url_players_bios = 'https://stats.nba.com/stats/leaguedashplayerbiostats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&Season='+season_id+'&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
    
    response_stats = requests.get(url=url_players_stats, headers=headers).json()
    players_stats = response_stats['resultSets'][0]['rowSet']
    
    response_bios = requests.get(url=url_players_bios, headers=headers).json()
    players_bios = response_bios['resultSets'][0]['rowSet']
    
    players_stats_df = pd.DataFrame(players_stats, columns=columns_stats)
    players_bios_df = pd.DataFrame(players_bios, columns=columns_bios)
    
    players_stats_df['season_id'] = season_id
    players_bios_df['season_id'] = season_id
    
    print(season_id)
    
    df_stats.append(players_stats_df)
    df_bios.append(players_bios_df)

1995-96
1996-97
1997-98
1998-99
1999-00
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23

In [17]:
df_bios = pd.concat(df_bios, sort=False)
df_stats = pd.concat(df_stats, sort=False)

In [20]:
df_bios.to_csv('/home/bruno/repos/NBA_2022-2023/data/df_bios_complete.csv', index = False)
df_stats.to_csv('/home/bruno/repos/NBA_2022-2023/data/df_stats_complete.csv', index = False)